* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    background-color: #f3f4f6;
    color: #333;
}

/* Estrutura principal */
.estrutura {
    max-width: 900px;
    margin: 4rem auto;
    padding: 3rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.estrutura > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
    font-size: 1.4rem;
    max-width: 20%;
}

a:hover {
    text-decoration: underline;
}

/* formulario */
.formulario-setor {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formulario-setor .inputs p {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formulario-setor label {
    font-weight: bold;
    font-size: 1.4rem;
}

.formulario-setor input 
{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    resize: vertical;
    width: 100%;
}

.formulario-setor input:focus 
{
    outline: 2px solid #3b82f6;
}

button {
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 0.6rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

#enviar {
    background-color: #00773a;
    color: white;
}

#enviar:hover {
    background-color: #005f2c;
}

#limpar {
    background-color: #e5e7eb;
    color: #333;
}

#limpar:hover {
    background-color: #d1d5db;
}

/* Mensagens */
.mensagem {
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    text-align: center;
}

.mensagem.sucesso {
    background-color: #d1fae5;
    color: #065f46;
    border: 1px solid #10b981;
}

.mensagem.erro {
    background-color: #fee2e2;
    color: #991b1b;
    border: 1px solid #ef4444;
}

/* visualização */
input:disabled {
    background-color: #ebebeb;
    color: #333;
    border: 1px solid #999;
    opacity: 1;
}

/* Responsivo */
@media (max-width: 768px) {
    .estrutura {
        padding: 2rem;
    }

    .menu-lista {
        flex-direction: column;
        gap: 1rem;
    }
}
