/* ----TAGS---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    background-color: rgb(243,244,246);
}

/* ----CLASSES---- */

/* Menu */
.menu {
    width: 100%;
    background-color: #333;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list li {
    padding: 15px 20px;
}

.menu-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-list a:hover {
    color: #ff9800;
}


/* main-conteudo */
.estrutura {
    max-width: 95%;
    height: 90vh;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* formulario */

.formulario-Pergunta {
    width: 70rem;
    height: 50rem;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: left;
    background-color: #a2dfa2;
    border-radius: 3rem;
    font-size: 2.5rem;
    color:rgb(28, 28, 29)
}

.formulario-Pergunta .inputs {
    max-height: 87%;
    display: flex;
    flex-direction: column;
}

.formulario-Pergunta label {
    width: 100%;
    margin-bottom: 1rem;
}

.formulario-Pergunta label::after {
    content: "*";
}

.formulario-Pergunta textarea {
    min-width: 30rem;
    font-size: inherit;
    resize: vertical;
}

.formulario-Pergunta .contadorChar {
    font-size: 1.5rem;
    margin: 0.5rem auto 0.5rem 0rem ;
}

.formulario-Pergunta button {
    width: 100%;
    height: 4rem;
    margin-top: 0.5rem;
    background-color: green;
    color: white;
    font-size: inherit;
    border-radius: 0.5rem;
    border-width: 0.1rem;
}

