/* styles.css */
body {
    margin: 0;
    font-family: sans-serif;
}

textarea {
    min-height: 100px;
    min-width: 300px;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list li {
    padding: 15px 20px;
}

.menu-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-list a:hover {
    color: #ff9800;
}

.conteudo {
    margin: 70px 0px 15px 15px;
}

