/* ----TAGS---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    background-color: rgb(243,244,246);
}

/* ----CLASSES---- */

/* Menu */
.menu {
    width: 100%;
    background-color: #333;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list li {
    padding: 15px 20px;
}

.menu-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-list a:hover {
    color: #ff9800;
}


/* main-conteudo */
.estrutura {
    max-width: 95%;
    height: 90vh;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* formulario */

.formulario-Pergunta {
    width: 50rem;
    height: 50rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #D32F2F;
    border-radius: 3rem;
    color:rgb(243,244,246)
}

.formulario-Pergunta label {
    width: 100%;
}

textarea {
    min-height: 100px;
    min-width: 300px;
}

