* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    background-color: #f3f4f6;
    color: #333;
}

.estrutura {
    max-width: 160rem;
    margin: 3rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.05);
}

.cabecalho-consulta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.cabecalho-consulta h1 {
    color: #d32f2f;
    font-size: 2.4rem;
}

.cabecalho-consulta button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 0.6rem;
    transition: background-color 0.2s;
}

.cabecalho-consulta button:hover {
    background-color: #2563eb;
    cursor: pointer;
}

/* consulta */

.consulta {
    overflow-x: auto;
}

.consulta table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.6rem;
    overflow: hidden;
}

.consulta th, 
.consulta td {
    padding: 1.2rem;
    text-align: left;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e5e7eb;
    font-size: 1.4rem;
}

.consulta td:last-child,
.consulta th:last-child {
    border-right: none;
}

.consulta td:first-child,
.consulta th:first-child {
    border-left: none;
}

.consulta th {
    background-color: #e6f4ea;
    color: #166534;
    font-weight: 60rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.consulta td {
    background-color: #ffffff;
    color: #333;
    word-break: break-word;
}

.consulta .efeitoCarragamento{
    text-align: center;
    font-style: italic;
    color: #6b7280;
    padding: 2rem 0;
}

/* Mensagens de retorno */
.mensagem {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0,0,0,0.1);
}


.mensagem-texto {
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
}

.mensagem.sucesso {
    background-color: #d1fae5;
    color: #065f46;
    border: 1px solid #10b981;
}

.mensagem.erro {
    background-color: #fee2e2;
    color: #991b1b;
    border: 1px solid #ef4444;
}

.slide-tempo {
    height: 0.4rem;
    background: #ddd;
    overflow: hidden;
}

.barra {
    height: 100%;
    width: 0;
    background: #4d63a0;
    animation: carregarSlideTempo 8s linear forwards;
}

@keyframes carregarSlideTempo {
    from { width: 100%; }
    to   { width: 0; }
}

@media (max-width: 768px) {
    .cabecalho-consulta {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .cabecalho-consulta h1 {
        font-size: 2rem;
    }

    .cabecalho-consulta button {
        width: 100%;
    }

    .consulta th,
    .consulta td {
        font-size: 1.2rem;
        padding: 0.8rem;
    }
}

