.menu {
    width: 100%;
    background-color: #1f2937;
    color: white;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    z-index: 10;
}

.menu-lista {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 2rem;
    gap: 3rem;
}

.menu-item {
    position: relative;
}

.menu-item p {
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    transition: color 0.3s;
    padding: 0.5rem 1rem;
}

.menu-item p:hover{
    color: #fbbf24;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100;
    left: 0;
    background-color: #374151;
    min-width: 20rem;
    list-style: none;
    padding: 0.5rem 0;
    border-radius: 0 0 0.6rem 0.6rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.2);
}

.sub-menu li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.4rem;
    transition: background 0.3s;
}

.sub-menu li a:hover {
    background-color: #4b5563;
}

.menu-item:hover .sub-menu {
    display: block;
}

@media (max-width: 768px) {
    .menu-lista {
        flex-direction: column;
        gap: 1rem;
    }
}
